/*Mobil version*/
/*Generelle instillinger*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    overflow-x: hidden;
}

section {
    margin: 30px;
}

/*Nav/footer*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

#knapper {
    display: contents;
}

#knapper {
    margin: 50px;
}

#knapper li {
    opacity: 1;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 0px;
}

#knapper a {
    color: #b1b1b1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #1e1e1f;
    border-radius: 50px;
}

#knapper a:hover {
    color: white;
    opacity: 50%;
    border-radius: 50px;
}

footer {
    height: 74.55px;
    width: auto;
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

footer a {
    color: #b1b1b1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #1e1e1f;
    border-radius: 50px;
}

footer a:hover {
    color: white;
    opacity: 50%;
    border-radius: 50px;
}

/*Overskrift/titler*/
h1 {
    margin-top: 100px;
    text-transform: uppercase;
    font-size: 10vw;
    font-family: 'Jua', sans-serif;
}

h2 {
    /*    text-transform: uppercase;*/
    font-size: 8vw;
    margin-top: 100px;
    font-family: 'Jua', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    font-family: 'Open Sans', sans-serif;
}

/*Knapper*/
.tilbage1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #efefef;
    border-radius: 30px;
    font-size: 3vw;
    width: 30vw;
    height: 4.5vh;
    top: 10px;
}

.tilbage2 {
    position: relative;
    top: 10px;
}

#tilbage_section #section_wrapper1 {
    margin-left: 0px;
    color: grey;
    text-decoration: none;
}

#tilbage_section a {
    text-decoration: none;
    font-size: 2vw;
    color: grey;
}

.tilbage1:hover {
    opacity: 50%;
}

.klik_videre {
    text-decoration: none;
    font-weight: bold;
    color: #d43b99;
}

.klik_videre:hover {
    opacity: 50%;
}

/*Forside*/
#first_section_index {
    margin: 0px;
    overflow: hidden;
    background-image: url(billeder/malerklatter4.jpg);
    background-size: cover;
    background-position: 78%;
    margin-bottom: 0px;
}

#first_section_index #section_wrapper {
    margin-top: 580px;
}

#first_section_index h1 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 400px;
    border-radius: 50px;
    font-size: 15vw;
}

#second_section_index p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: #e089f0;
    text-align: center;
    border-radius: 50px;
    position: relative;
    bottom: 950px;
    right: 0px;
}

#second_section_index p:hover {
    background-color: #ffb2f9;
}

#second_section_index a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

#second_section_index a:hover {
    color: white;
}

/*"Om mig"-side*/
#first_section_om_mig {
    margin: 0px;
    overflow: hidden;
    background-image: url(billeder/malerklatter4.jpg);
    background-size: cover;
    background-position: 20%;
    margin-bottom: 0px;
    margin-top: 0px;
}

.billede_om_mig {
    border: 3px solid white;
    border-radius: 400px;
}

/*"Projekter"-side*/
#first_section_projekter {
    margin: 0px;
    overflow: hidden;
    background-image: url(billeder/malerklatter5.jpg);
    background-size: cover;
    background-position: 74%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#second_section_projekter #section_wrapper2 {
    margin: 0px;
}

#second_section_projekter {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}

figure {
    margin: 0px;
}

figure a {
    text-decoration: none;
}

figcaption {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    text-align: center;
}

figure img {
    vertical-align: top;
    filter: grayscale(100%);
}

figure img:hover {
    filter: none;
}

.boks1,
.boks2,
.boks3,
.boks4,
.boks5,
.boks6 {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.boks1 img,
.boks2 img,
.boks3 img,
.boks4 img,
.boks5 img,
.boks6 img {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.boks1_beskrivelse,
.boks2_beskrivelse,
.boks3_beskrivelse,
.boks4_beskrivelse,
.boks5_beskrivelse,
.boks6_beskrivelse {
    position: relative;
    bottom: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

/*"Indhold"-side*/
#first_section_indhold {
    margin: 0px;
    overflow: hidden;
    background-image: url(billeder/baggrund.png);
    background-size: cover;
    background-position: 30%;
    margin-bottom: 0px;
    margin-top: 0px;
}

#first_section_indhold .indhold_billede1 {
    margin-top: 80px;
}

/*"Animation"-side*/
#first_section_animation {
    margin: 0px;
    overflow: hidden;
    background-image: url(billeder/baggrund.png);
    background-size: cover;
    background-position: 30%;
}

#first_section_animation .animation_billede1 {
    margin-top: 80px;
}

#first_section_animation .animation_billede2 {
    margin-top: 80px;
}

/*"UX"-side*/
#first_section_ux {
    margin: 0px;
    overflow: hidden;
    background-image: url(billeder/baggrund.png);
    background-size: cover;
    background-position: 30.9%;
}

#first_section_ux .ux_billede1 {
    margin-top: 80px;
}

/*"Web"-side*/
#first_section_web {
    margin: 0px;
    overflow: hidden;
    background-image: url(billeder/baggrund.png);
    background-size: cover;
    background-position: 30%;
}

#first_section_web .web_billede1 {
    margin-top: 80px;
}

#first_section_web .web_billede2 {
    margin-top: 50px;
}

/*Tablet version*/
@media (min-width: 1000px) {
    #knapper {
        width: 50%;
    }

    #second_section_projekter .row {
        width: 100%;
    }

    /*Desktop version*/
    @media (min-width: 608px) {

        /*Generelle instillinger*/
        section {
            margin: 50px;
        }

        /*Menubar/nav*/
        nav {
            justify-content: space-between;
            height: 74.55px;
            width: auto;
            font-size: 1.2rem;
            background-color: #000000;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        #knapper a {
            color: #b1b1b1;
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-decoration: none;
            font-weight: bold;
            font-size: 1vw;
            margin-left: 50px;
            margin-right: 50px;
            border-radius: 50px;
        }

        #knapper li {
            opacity: 1;
            margin-bottom: 50px;
            margin-top: 50px;
            font-size: 0px;
        }

        /*Overskrift/titler*/
        h1 {
            font-size: 3.5vw;
            margin-top: 50px;
        }

        h2 {
            font-size: 2px;
            margin-top: 50px;
        }

        p {
            font-size: 1.3vw;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        /*Knapper*/
        .tilbage1 {
            font-size: 1vw;
            width: 10vw;
            height: 5vh;
        }

        /*Forside*/
        #first_section_index {
            margin: 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #first_section_index #section_wrapper {
            display: grid;
            grid-gap: 50px;
            grid-template-columns: repeat(1, 1fr);
        }

        #first_section_index h1 {
            margin-left: 200px;
            font-size: 8vw;
            height: 135px;
        }

        /*"Om mig"-side*/
        .billede_om_mig {
            margin-top: 100px;
            border: 4px solid white;
        }

        #first_section_om_mig #section_wrapper2 {
            display: grid;
            grid-gap: 100px;
            grid-template-columns: repeat(2, 1fr);
        }

        /*"Projekter"-side*/

        #first_section_projekter h1 {
            margin-top: 95px;
        }

        .figcaption {
            width: 384px;
        }

        #second_section_projekter {
            margin-bottom: 0px;
        }

        #second_section_projekter #section_wrapper2 {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        #second_section_projekter .row {
            box-sizing: border-box;
        }

        .boks1,
        .boks2,
        .boks3,
        .boks4,
        .boks5,
        .boks6 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 0px;
            margin-bottom: 50px;
            padding: 20px;
        }

        .boks1_beskrivelse,
        .boks2_beskrivelse,
        .boks3_beskrivelse,
        .boks4_beskrivelse {
            font-size: 30px;
        }

        /*"Indhold"-side*/
        #first_section_indhold {
            background-position: 20%;
        }

        #first_section_indhold #section_wrapper2 {
            display: grid;
            grid-gap: 100px;
            grid-template-columns: repeat(2, 1fr);
        }

        #first_section_indhold .indhold_billede1 {
            margin-top: 188px;
        }

        /*"Animation"-side*/
        #first_section_animation {
            background-position: 20%;
        }

        #first_section_animation #section_wrapper2 {
            display: grid;
            grid-gap: 100px;
            grid-template-columns: repeat(2, 1fr);
        }

        #first_section_animation .animation_billede1 {
            margin-top: 188px;
        }

        /*"UX"-side*/
        #first_section_ux {
            background-position: 20%;
        }

        #first_section_ux #section_wrapper2 {
            display: grid;
            grid-gap: 100px;
            grid-template-columns: repeat(2, 1fr);
        }

        #first_section_ux .ux_billede1 {
            margin-top: 188px;
        }

        /*"Web"-side*/
        #first_section_web {
            background-position: 20%;
        }

        #first_section_web #section_wrapper2 {
            display: grid;
            grid-gap: 100px;
            grid-template-columns: repeat(2, 1fr);
        }

        #first_section_web .web_billede1 {
            margin-top: 188px;
        }
    }
}
